.grid_item {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .grid_item {
    margin-bottom: 2rem;
  }
}

.grid_item.shink {
  width: auto;
}

.grid_item.lighthouse {
  height: 100%;
  max-width: 10rem;
  color: var(--white-1766b841);
}

@media screen and (max-width: 479px) {
  .grid_item.lighthouse {
    margin-bottom: 0rem;
  }
}

.grid_item.relative {
  position: relative;
}

.grid_item.ai-item-inner-grid {
  display: grid;
  justify-items: center;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: 150px auto auto;
}

@media screen and (max-width: 991px) {
  .grid_item.ai-item-inner-grid {
    max-width: 392px;
    justify-items: center;
    grid-template-rows: 50% auto;
  }
}

.grid_item.full-service {
  padding: 8px;
  border-radius: 48px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-small {
  margin: 1.5rem;
}

@media screen and (max-width: 767px) {
  .margin-small {
    margin: 1.25rem;
  }
}

.hidden {
  display: none;
}

.margin-xsmall {
  margin: 1rem;
}

@media screen and (max-width: 767px) {
  .margin-xsmall {
    margin: 0.75rem;
  }
}

@media screen and (max-width: 991px) {
  .hide-tablet {
    display: none;
  }
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 2rem;
  }
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxlarge {
  margin: 5rem;
}

@media screen and (max-width: 991px) {
  .margin-xxlarge {
    margin: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxlarge {
    margin: 3rem;
  }
}

.margin-bottom.margin-medium {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-custom3 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-custom1 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-tiny {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-tiny {
  margin: 0.25rem;
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-large {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-0 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-0 {
  margin: 0rem;
}

.margin-bottom.margin-xlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xlarge {
  margin: 4rem;
}

@media screen and (max-width: 991px) {
  .margin-xlarge {
    margin: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xlarge {
    margin: 2.5rem;
  }
}

.margin-bottom.margin-xhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xhuge {
  margin: 7rem;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }
}

.margin-bottom.margin-xxhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxhuge {
  margin: 10rem;
}

@media screen and (max-width: 991px) {
  .margin-xxhuge {
    margin: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxhuge {
    margin: 5rem;
  }
}

.margin-bottom.margin-huge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-huge {
  margin: 6rem;
}

@media screen and (max-width: 991px) {
  .margin-huge {
    margin: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-huge {
    margin: 3.5rem;
  }
}

.margin-bottom.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxsmall {
  margin: 0.5rem;
}

.margin-bottom.margin-custom2 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.grid-layout_image-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 1rem;
}

.grid-layout_image-wrapper.overflow-auto {
  overflow: visible;
}

.overflow-auto {
  overflow: auto;
}

.grid-layout_image-wrapper.full-service {
  border-radius: 40px;
}

.display-tile-image {
  width: 100%;
  height: 100%;
  max-width: none;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.display-tile-image.r-1x1 {
  object-fit: contain;
}

.display-tile-image.blog-thumbnail {
  max-height: 11rem;
}

.padding-horizontal {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

.padding-horizontal.padding-xxsmall {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-xxsmall {
  padding: 0.5rem;
}

.padding-horizontal.padding-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-0 {
  padding: 0rem;
}

.padding-horizontal.padding-custom3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-huge {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-huge {
  padding: 6rem;
}

@media screen and (max-width: 991px) {
  .padding-huge {
    padding: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-huge {
    padding: 3.5rem;
  }
}

.padding-horizontal.padding-xsmall {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-xsmall {
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  .padding-xsmall {
    padding: 0.75rem;
  }
}

.padding-horizontal.padding-medium {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-medium {
  padding: 2rem;
}

@media screen and (max-width: 767px) {
  .padding-medium {
    padding: 1.5rem;
  }
}

.padding-horizontal.padding-xxlarge {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-xxlarge {
  padding: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-xxlarge {
    padding: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xxlarge {
    padding: 3rem;
  }
}

.padding-horizontal.padding-large {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-large {
  padding: 3rem;
}

@media screen and (max-width: 991px) {
  .padding-large {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-large {
    padding: 2rem;
  }
}

.padding-horizontal.padding-xhuge {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-xhuge {
  padding: 7rem;
}

@media screen and (max-width: 991px) {
  .padding-xhuge {
    padding: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xhuge {
    padding: 4rem;
  }
}

.padding-horizontal.padding-custom1 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-tiny {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-tiny {
  padding: 0.25rem;
}

.padding-horizontal.padding-custom2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-xxhuge {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-xxhuge {
  padding: 10rem;
}

@media screen and (max-width: 991px) {
  .padding-xxhuge {
    padding: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xxhuge {
    padding: 5rem;
  }
}

.padding-horizontal.padding-small {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-small {
  padding: 1.5rem;
}

@media screen and (max-width: 767px) {
  .padding-small {
    padding: 1.25rem;
  }
}

.padding-horizontal.padding-xlarge {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-xlarge {
  padding: 4rem;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xlarge {
    padding: 2.5rem;
  }
}

.padding-horizontal.ai-grid-padding-x {
  padding: 0rem 5rem;
}

@media screen and (max-width: 991px) {
  .padding-horizontal.ai-grid-padding-x {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

.heading-small {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .heading-small {
    font-size: 1.25rem;
  }
}

.text-style-serif {
  font-family: Merriweather, serif;
}

.heading-small.text-style-serif.text-style-lower {
  text-transform: none;
}

.heading-small.text-style-serif.text-style-lower.text-weight-normal {
  font-weight: 400;
}

.text-weight-normal {
  font-weight: 400;
}

.text-color-ocean {
  color: var(--deepOcean-24b07762);
  text-align: center;
}