.form-source-embed {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (min-width: 1920px) {
  .form-source-embed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
  }
}