.section {
  position: relative;
}

.page-padding {
  padding-right: 5%;
  padding-left: 5%;
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.page-padding.pt-0 {
  margin-top: 0px;
}

.padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.padding-bottom {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.padding-large {
  padding: 3rem;
}

@media screen and (max-width: 991px) {
  .padding-large {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-large {
    padding: 2rem;
  }
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.container-large.height-100 {
  height: 100%;
}

.padding-vertical {
  padding-right: 0rem;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.padding-vertical.padding-0 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-0 {
  padding: 0rem;
}

.padding-vertical.padding-xxhuge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxhuge {
  padding: 10rem;
}

@media screen and (max-width: 991px) {
  .padding-xxhuge {
    padding: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xxhuge {
    padding: 5rem;
  }
}

.padding-vertical.padding-large {
  padding-right: 0rem;
  padding-left: 0rem;
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

.padding-vertical.padding-custom3 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-medium {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-medium {
  padding: 2rem;
}

@media screen and (max-width: 767px) {
  .padding-medium {
    padding: 1.5rem;
  }
}

.padding-vertical.padding-tiny {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-tiny {
  padding: 0.25rem;
}

.padding-vertical.padding-xxlarge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxlarge {
  padding: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-xxlarge {
    padding: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xxlarge {
    padding: 3rem;
  }
}

.padding-vertical.padding-custom1 {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-xsmall {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xsmall {
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  .padding-xsmall {
    padding: 0.75rem;
  }
}

.padding-vertical.padding-xhuge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xhuge {
  padding: 7rem;
}

@media screen and (max-width: 991px) {
  .padding-xhuge {
    padding: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xhuge {
    padding: 4rem;
  }
}

.padding-vertical.padding-xlarge {
  padding-top: 2rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xlarge {
  padding: 4rem;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xlarge {
    padding: 2.5rem;
  }
}

.padding-vertical.padding-custom2 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-xxsmall {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxsmall {
  padding: 0.5rem;
}

.padding-vertical.padding-huge {
  padding: 6rem 0rem;
}

.padding-huge {
  padding: 6rem;
}

@media screen and (max-width: 991px) {
  .padding-huge {
    padding: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-huge {
    padding: 3.5rem;
  }
}

.padding-vertical.padding-small {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-small {
  padding: 1.5rem;
}

@media screen and (max-width: 767px) {
  .padding-small {
    padding: 1.25rem;
  }
}

.padding-vertical.padding-xhuge {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padding-vertical.padding-xxhuge-s {
  padding: 7rem 0rem 3rem;
}

.grid-element {
  position: relative;

  display: grid;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr minmax(30rem, auto);
  grid-template-rows: auto auto auto;
}

@media screen and (max-width: 991px) {
  .grid-element {
    padding-top: 3rem;
    padding-bottom: 3rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid-element {
    padding: 2.5rem 1rem;
  }
}

.grid-element.innovate {
  grid-template-columns: minmax(30rem, auto) 30fr;
}

@media screen and (max-width: 991px) {
  .grid-element.innovate {
    grid-template-columns: minmax(30rem, auto);
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .grid-element.innovate {
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  .grid-element.innovate {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.grid-element.lighthouse {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr minmax(27.5rem, auto);
}

@media screen and (max-width: 991px) {
  .grid-element.lighthouse {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid-element.lighthouse {
    grid-template-columns: 1fr;
  }
}

.grid-element.demo {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: 2rem auto 2rem;
  font-size: 1vw;
}

@media screen and (min-width: 1920px) {
  .grid-element.demo {
    grid-column-gap: 3.5rem;
    grid-row-gap: 3.5rem;
  }
}

@media screen and (max-width: 991px) {
  .grid-element.demo {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: minmax(30rem, auto);
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .grid-element.demo {
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  .grid-element.demo {
    padding: 1rem;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.demo-text-wrapper {
  padding: 24px;
}

@media screen and (max-width: 991px) {
  .demo-text-wrapper {
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .demo-text-wrapper {
    padding: 0rem;
  }
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-small {
  margin: 1.5rem;
}

@media screen and (max-width: 767px) {
  .margin-small {
    margin: 1.25rem;
  }
}

.hidden {
  display: none;
}

.margin-xsmall {
  margin: 1rem;
}

@media screen and (max-width: 767px) {
  .margin-xsmall {
    margin: 0.75rem;
  }
}

@media screen and (max-width: 991px) {
  .hide-tablet {
    display: none;
  }
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 2rem;
  }
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxlarge {
  margin: 5rem;
}

@media screen and (max-width: 991px) {
  .margin-xxlarge {
    margin: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxlarge {
    margin: 3rem;
  }
}

.margin-bottom.margin-medium {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-custom3 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-custom1 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-tiny {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-tiny {
  margin: 0.25rem;
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-large {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-0 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-0 {
  margin: 0rem;
}

.margin-bottom.margin-xlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xlarge {
  margin: 4rem;
}

@media screen and (max-width: 991px) {
  .margin-xlarge {
    margin: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xlarge {
    margin: 2.5rem;
  }
}

.margin-bottom.margin-xhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xhuge {
  margin: 7rem;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }
}

.margin-bottom.margin-xxhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxhuge {
  margin: 10rem;
}

@media screen and (max-width: 991px) {
  .margin-xxhuge {
    margin: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxhuge {
    margin: 5rem;
  }
}

.margin-bottom.margin-huge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-huge {
  margin: 6rem;
}

@media screen and (max-width: 991px) {
  .margin-huge {
    margin: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-huge {
    margin: 3.5rem;
  }
}

.margin-bottom.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxsmall {
  margin: 0.5rem;
}

.margin-bottom.margin-custom2 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.demo-success_grid-heading {
  color: var(--white-1766b841);
  font-size: 3.75em;
}

@media screen and (min-width: 1920px) {
  .demo-success_grid-heading {
    font-size: 3.75rem;
  }
}

@media screen and (max-width: 991px) {
  .demo-success_grid-heading {
    font-size: 3.75rem;
  }
}

@media screen and (max-width: 767px) {
  .demo-success_grid-heading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .demo-success_grid-heading {
    font-size: 1.75rem;
  }
}

.demo-success_navlink-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 479px) {
  .demo-success_navlink-wrapper {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: auto;
  }
}

.demo-success_navlink {
  display: flex;
  padding: 12px 12px 12px 24px;
  justify-content: space-between;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-template-columns: 3rem 1fr minmax(1.5rem, auto);
  grid-template-rows: auto;

  border: 1px solid var(--white);
  border-radius: 50rem;

  background-color: hsla(0, 0.00%, 100.00%, 0.05);

  backdrop-filter: blur(45px);

  font-family: Merriweather, serif;
  color: var(--white-1766b841);
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 300;
}

@media screen and (max-width: 479px) {
  .demo-success_navlink {
    padding-left: 12px;
    grid-column-gap: 1rem;
    font-size: 1rem;
  }
}

.link-arrow {
  width: 0.9rem;
  margin-left: auto;
}

.link-arrow.demo-success {
  width: 1.5rem;
}

@media screen and (max-width: 479px) {
  .link-arrow.demo-success {
    width: 1rem;
  }
}

.background-image-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
}

.background-image-wrapper.grid-cta-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.background-image-wrapper.blog-hero {
  overflow: hidden;
}

.background-image-wrapper.survey-authoring-bg {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.background-image-wrapper.footer-cta-background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}

.z-index-1 {
  position: relative;
  z-index: 1;
}

.background-image-wrapper.demo-success {
  overflow: hidden;
  margin-right: 56px;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
}

@media screen and (max-width: 991px) {
  .background-image-wrapper.demo-success {
    margin-right: 0px;
  }
}

.background-image-wrapper.overflow-clip {
  overflow: clip;
}

.background-image-wrapper.skipper {
  left: -5%;
  top: -5%;
  right: -5%;
  bottom: -5%;

  overflow: clip;

  border-radius: 3rem;
}

@media screen and (max-width: 767px) {
  .background-image-wrapper.skipper {
    left: -6%;
    top: -4%;
    right: -6%;
    bottom: -4%;
    border-radius: 0rem;
  }
}

.bg-image {
  width: 100%;
  height: 100%;
  border-radius: 36px;
  object-fit: cover;
}

.image-overlay-layer {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  padding: 8rem 1.5rem 1.25rem;

  opacity: 0.76;
}

.image-overlay-layer.starfish {
  background-color: var(--starfish-e17fbf14);
}

.image-overlay-layer.coral_royal-blue {
  background-image: linear-gradient(268deg, var(--royalBlue-3d40e1b7), var(--coral-c9ad5c40));
}

.image-overlay-layer.aqua_royal-blue {
  background-image: linear-gradient(135deg, var(--aquamarine-15603d89), var(--royalBlue-3d40e1b7));
}

.image-overlay-layer.aqua_coral {
  background-image: linear-gradient(135deg, var(--aquamarine-15603d89), var(--coral-c9ad5c40));
}

.image-overlay-layer.deep-ocean_coral {
  background-image: linear-gradient(135deg, var(--deepOcean-24b07762), var(--coral-c9ad5c40));
}

.image-overlay-layer.aruba_sea-urchin {
  background-image: linear-gradient(135deg, var(--aruba-205afa33), var(--seaUrchin-148ded66));
}

.image-overlay-layer.aruba_sea-urchin.vertical-gradient {
  background-image: linear-gradient(to top, var(--aruba-205afa33), var(--seaUrchin-148ded66));
}

@media screen and (min-width: 1920px) {
  .image-overlay-layer.aruba_sea-urchin.survey-gradient {
    opacity: 0.93;
  }
}

.image-overlay-layer.sea-urchin_deep-ocean {
  background-image: linear-gradient(135deg, var(--seaUrchin-148ded66), var(--deepOcean-24b07762));
}

@media screen and (min-width: 1920px) {
  .image-overlay-layer.sea-urchin_deep-ocean.survey-gradient {
    opacity: 0.93;
  }
}

.image-overlay-layer.starfish_aruba {
  background-image: linear-gradient(135deg, var(--starfish-e17fbf14), var(--aruba-205afa33));
}

.image-overlay-layer.royal-blue_coral {
  background-image: linear-gradient(315deg, var(--coral-c9ad5c40), var(--royalBlue-3d40e1b7));
}

.image-overlay-layer.white-gradient {
  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 100.00%, 0.30) 61%, hsla(0, 0.00%, 100.00%, 1.00) 95%);
  opacity: 1;
}

.image-overlay-layer.coral_deep-ocean {
  background-image: linear-gradient(315deg, var(--deepOcean-24b07762), var(--coral-c9ad5c40));
}

@media screen and (min-width: 1920px) {
  .image-overlay-layer.coral_deep-ocean.survey-gradient {
    opacity: 0.93;
  }
}

.image-overlay-layer.coral_deep-ocean.filter {
  opacity: 0.52;
}

.background-color-gradient_royal-urchin {
  background-color: var(--black-dccb7db6);
  background-image: linear-gradient(135deg, var(--royalBlue-3d40e1b7), var(--coral-c9ad5c40));
}

.image-overlay-layer.aruba_royal-blue {
  background-image: linear-gradient(135deg, var(--aruba-205afa33), var(--royalBlue-3d40e1b7));
}

.image-overlay-layer.resource-tile_overlay {
  background-image: linear-gradient(to bottom, var(--resource-gradient) 30%, hsla(0, 0.00%, 100.00%, 0.00));
  opacity: 0.8;
}

.image-overlay-layer.coral_royal-blue-demo {
  background-image: linear-gradient(88deg, var(--coral-c9ad5c40) 5%, hsla(215.45454545454547, 49.25%, 26.27%, 0.00));
  opacity: 1;
}

.image-overlay-layer.aruba_starfish {
  background-image: linear-gradient(270deg, var(--starfish-e17fbf14), var(--aruba-205afa33));
}

.image-overlay-layer.ai {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  background-image: linear-gradient(90deg, hsla(327.59358288770056, 95.90%, 61.76%, 1.00), var(--deep-ocean));
  opacity: 0.4;
}

.image-overlay-layer.ai.reverse {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: linear-gradient(90deg, var(--deep-ocean), hsla(327.59358288770056, 95.90%, 61.76%, 1.00));
  opacity: 0.6;
}

.image-overlay-layer.ai.skipper {
  background-image: linear-gradient(90deg, hsla(327.59358288770056, 95.90%, 61.76%, 1.00), var(--aruba));
  opacity: 0.85;
}

.image-overlay-layer.skipper-page {
  background-image: linear-gradient(135deg, var(--pink), var(--deep-ocean));
  opacity: 1;
}

.image-overlay-layer.skipper {
  background-image: linear-gradient(133deg, var(--pink), var(--deep-ocean));
  opacity: 0.41;
  mix-blend-mode: overlay;
}

.image-overlay-layer.skipper-alt {
  background-image: linear-gradient(90deg, var(--deep-ocean), var(--pink));
  mix-blend-mode: hard-light;
}

.image-overlay-layer.coral_royal-blue {
  background-image: linear-gradient(268deg, #223d64, #8c3375);
}

.image-overlay-layer.conversation-ai {
  background-image: radial-gradient(circle closest-side at 50% 50%, var(--sea-urchin), var(--deep-ocean));
  opacity: 0.45;
}

.image-overlay-layer.full-service {
  background-image: linear-gradient(135deg, var(--aquamarine), var(--deep-ocean));
  opacity: 1;
}

.image-overlay-layer.full-service-cta {
  background-image: linear-gradient(135deg, var(--pink), var(--deep-ocean));
  opacity: 0.45;
}

@media screen and (min-width: 1920px) {
  .image-overlay-layer.full-service-cta {
    background-image: linear-gradient(135deg, var(--pink), var(--deep-ocean));
    opacity: 0.4;
  }
}

.image-overlay-layer.ecommerce {
  background-image: radial-gradient(circle closest-corner at 50% 50%, var(--sea-urchin), var(--transparent));
  opacity: 0.74;
}

.image-overlay-layer.ecom-page {
  opacity: 100;
}

#w-node-d51fdfdb-8b21-c793-c16b-4495262c12f2-262c12ed {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 2;
}
#w-node-d51fdfdb-8b21-c793-c16b-4495262c12f7-262c12ed {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#w-node-d51fdfdb-8b21-c793-c16b-4495262c12f9-262c12ed {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-d51fdfdb-8b21-c793-c16b-4495262c1305-262c12ed {
}
@media screen and (max-width: 991px) {
  #w-node-d51fdfdb-8b21-c793-c16b-4495262c12f2-262c12ed {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    justify-self: center;
  }
  #w-node-d51fdfdb-8b21-c793-c16b-4495262c12f7-262c12ed {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    justify-self: center;
  }
}