.section_grid-layout {
  position: relative;
}

.padding-bottom {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.padding-bottom.padding-xlarge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xlarge {
  padding: 4rem;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xlarge {
    padding: 2.5rem;
  }
}

.padding-bottom.padding-small {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-small {
  padding: 1.5rem;
}

@media screen and (max-width: 767px) {
  .padding-small {
    padding: 1.25rem;
  }
}

.padding-bottom.padding-xxhuge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxhuge {
  padding: 10rem;
}

@media screen and (max-width: 991px) {
  .padding-xxhuge {
    padding: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xxhuge {
    padding: 5rem;
  }
}

.padding-bottom.padding-large {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-large {
  padding: 3rem;
}

@media screen and (max-width: 991px) {
  .padding-large {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-large {
    padding: 2rem;
  }
}

.padding-bottom.padding-xhuge {
  padding: 3rem 0rem;
}

.padding-xhuge {
  padding: 7rem;
}

@media screen and (max-width: 991px) {
  .padding-xhuge {
    padding: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xhuge {
    padding: 4rem;
  }
}

.padding-bottom.padding-custom2 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xxsmall {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxsmall {
  padding: 0.5rem;
}

.padding-bottom.padding-xxlarge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxlarge {
  padding: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-xxlarge {
    padding: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xxlarge {
    padding: 3rem;
  }
}

.padding-bottom.padding-custom3 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-custom1 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xsmall {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xsmall {
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  .padding-xsmall {
    padding: 0.75rem;
  }
}

.padding-bottom.padding-huge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-huge {
  padding: 6rem;
}

@media screen and (max-width: 991px) {
  .padding-huge {
    padding: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-huge {
    padding: 3.5rem;
  }
}

.padding-bottom.padding-tiny {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-tiny {
  padding: 0.25rem;
}

.padding-bottom.padding-medium {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-medium {
  padding: 2rem;
}

@media screen and (max-width: 767px) {
  .padding-medium {
    padding: 1.5rem;
  }
}

.padding-bottom.padding-0 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-0 {
  padding: 0rem;
}

.cta-grid-container {
  display: flex;
  justify-content: space-between;
  grid-column-gap: 1rem;
}

@media screen and (max-width: 479px) {
  .cta-grid-container {
    flex-direction: column;
    grid-row-gap: 1rem;
  }
}

.grid_two-column-cta {
  display: flex;
  overflow: hidden;
  width: 50%;
  justify-items: center;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .grid_two-column-cta {
    grid-column-gap: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .grid_two-column-cta {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid_two-column-cta {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

.grid_two-column-cta.padding {
  position: relative;
  padding-right: 0rem;
}

.grid_two-column-cta.padding.second-child {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

@media screen and (max-width: 479px) {
  .grid_two-column-cta.padding.second-child {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 0rem;
  }
}

.grid_two-column-cta.padding.first-child {
  justify-content: flex-end;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

@media screen and (max-width: 479px) {
  .grid_two-column-cta.padding.first-child {
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}

.grid_item-cta {
  display: flex;
  height: 100%;
  max-width: 31rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: var(--white-1766b841);
  text-align: center;
}

.grid_item-cta.padding-custom1 {
  padding: 2rem 1rem;
}

@media screen and (max-width: 991px) {
  .grid_item-cta.padding-custom1 {
    min-width: 18rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .grid_item-cta.padding-custom1 {
    width: 100%;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }
}

.grid_item-cta.max-width-large {
  width: auto;
}

@media screen and (min-width: 1920px) {
  .grid_item-cta.max-width-large {
    max-width: 60rem;
  }
}

@media screen and (max-width: 479px) {
  .grid_item-cta.max-width-large {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-small {
  margin: 1.5rem;
}

@media screen and (max-width: 767px) {
  .margin-small {
    margin: 1.25rem;
  }
}

.hidden {
  display: none;
}

.margin-xsmall {
  margin: 1rem;
}

@media screen and (max-width: 767px) {
  .margin-xsmall {
    margin: 0.75rem;
  }
}

@media screen and (max-width: 991px) {
  .hide-tablet {
    display: none;
  }
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 2rem;
  }
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxlarge {
  margin: 5rem;
}

@media screen and (max-width: 991px) {
  .margin-xxlarge {
    margin: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxlarge {
    margin: 3rem;
  }
}

.margin-bottom.margin-medium {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-custom3 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-custom1 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-tiny {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-tiny {
  margin: 0.25rem;
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-large {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-0 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-0 {
  margin: 0rem;
}

.margin-bottom.margin-xlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xlarge {
  margin: 4rem;
}

@media screen and (max-width: 991px) {
  .margin-xlarge {
    margin: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xlarge {
    margin: 2.5rem;
  }
}

.margin-bottom.margin-xhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xhuge {
  margin: 7rem;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }
}

.margin-bottom.margin-xxhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxhuge {
  margin: 10rem;
}

@media screen and (max-width: 991px) {
  .margin-xxhuge {
    margin: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxhuge {
    margin: 5rem;
  }
}

.margin-bottom.margin-huge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-huge {
  margin: 6rem;
}

@media screen and (max-width: 991px) {
  .margin-huge {
    margin: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-huge {
    margin: 3.5rem;
  }
}

.margin-bottom.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxsmall {
  margin: 0.5rem;
}

.margin-bottom.margin-custom2 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.grid-layout_image-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 1rem;
}

.grid-layout_image-wrapper.overflow-auto {
  overflow: visible;
}

.overflow-auto {
  overflow: auto;
}

.grid-layout_image-wrapper.full-service {
  border-radius: 40px;
}

.icon-xlarge {
  width: 6.5rem;
  height: 6.5rem;
  object-fit: contain;
}

.heading-small {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .heading-small {
    font-size: 1.25rem;
  }
}

.text-style-serif {
  font-family: Merriweather, serif;
}

.heading-small.text-style-serif.text-style-lower {
  text-transform: none;
}

.heading-small.text-style-serif.text-style-lower.text-weight-normal {
  font-weight: 400;
}

.text-weight-normal {
  font-weight: 400;
}

.text-color-ocean {
  color: var(--deepOcean-24b07762);
  text-align: center;
}

.padding-horizontal {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

.padding-horizontal.padding-xxsmall {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-custom3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-huge {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-xsmall {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-medium {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-xxlarge {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-large {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-xhuge {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-custom1 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-tiny {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-custom2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-xxhuge {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-small {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.padding-xlarge {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.padding-horizontal.ai-grid-padding-x {
  padding: 0rem 5rem;
}

@media screen and (max-width: 991px) {
  .padding-horizontal.ai-grid-padding-x {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

.text-color-white {
  padding-top: 1px;
  color: var(--white-1766b841);
}

.text-size-small {
  font-size: 0.875rem;
}

.text-weight-light {
  font-weight: 300;
}

.text-color-white.max-character-limit {
  max-width: 33ch;
}

.text-size-medium {
  font-size: 1.125rem;
}

@media screen and (max-width: 767px) {
  .text-size-medium {
    font-size: 1rem;
  }
}

.text-align-left {
  text-align: left;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .button-row {
    justify-content: center;
    grid-column-gap: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .button-row {
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .button-row {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.button-row.is-button-row-center {
  padding-top: 0px;
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 479px) {
  .button-row.is-button-row-center {
    flex-wrap: wrap;
  }
}

.button-row.is-button-row-center.mt-auto {
  margin-top: auto;
}

@media screen and (max-width: 479px) {
  .button-row.vertical {
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .button-row.is-not-center {
    justify-content: flex-start;
  }
}

.button-wrapper {
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .button-wrapper {
    margin-right: 0rem;
  }
}

.button-wrapper.is-button-wrapper-center {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.button-wrapper.is-button-wrapper-center.relative--up {
  position: relative;
  z-index: 8;
}

.button-wrapper.is-button-wrapper-center.margin-0 {
  margin-top: 0rem;
}

.button {
  padding: 0.5rem 1.25rem;

  border: 1px none var(--black-dccb7db6);
  border-radius: 1.5rem;

  background-color: var(--deepOcean-24b07762);

  transition: all 250ms ease;

  font-family: Montserrat, sans-serif;
  color: var(--white-1766b841);
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--royalBlue-3d40e1b7);
  color: var(--aquamarine-15603d89);
}

@media screen and (max-width: 991px) {
  .button {
    align-self: center;
  }
}

.button.is-alternate {
  border-style: solid;
  border-color: var(--white-1766b841);

  background-color: var(--white-1766b841);

  color: var(--deepOcean-24b07762);
  font-weight: 600;
  text-align: center;
}

.button.is-alternate:hover {
  border-color: var(--deepOcean-24b07762);
  background-color: var(--deepOcean-24b07762);
  color: var(--white-1766b841);
}

.button.is-alternate.is_nav-button {
  padding-right: 0.85rem;
  padding-left: 0.85rem;
  font-size: 0.8rem;
}

.button.is-alternate.no-cursor {
  pointer-events: none;
}

.button.is-button-small {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.button.button-secondary {
  border-color: var(--white);
  background-color: var(--white-1766b841);
  color: var(--deepOcean-24b07762);
}

.button.button-secondary:hover {
  background-color: var(--deepOcean-24b07762);
  color: var(--white-1766b841);
}

.button-secondary {
  padding: 0.5rem 1.25rem;

  border: 1px solid var(--white-1766b841);
  border-radius: 1.5rem;

  background-color: hsla(0, 0.00%, 100.00%, 0.00);

  transition: all 250ms ease;

  font-family: Montserrat, sans-serif;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.button-secondary:hover {
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
  color: var(--deepOcean-24b07762);
}

.button.button-secondary.no-stroke {
  border-style: none;
}

@media screen and (max-width: 479px) {
  .button.button-secondary.no-stroke {
    font-size: 0.7rem;
  }
}

.button.button-secondary.home-rive-links {
  margin-top: 1.5rem;
}

@media screen and (max-width: 767px) {
  .button.button-secondary.home-rive-links {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .button.button-secondary.home-rive-links {
    margin-top: 0.75rem;
  }
}

.button.button-secondary.home-rive-links.no-border {
  border-style: none;
}

.button.lightbox-link {
  display: flex;
}

@media screen and (max-width: 479px) {
  .button.mobile-price-button {
    font-size: 0.6rem;
  }
}

.button.skipper {
  background-image: linear-gradient(90deg, var(--pink), var(--starfish));
}

.button.is-link {
  padding: 0.25rem 0rem;

  border-style: none;

  background-color: var(--\<unknown\|relume-variable-transparent\>);

  color: var(--\<unknown\|relume-variable-neutral-shade-7\>);
  line-height: 1;
  text-decoration: none;
}

.button.is-link.is-icon {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.button.is-secondary {
  background-color: var(--\<unknown\|relume-variable-transparent\>);
  color: var(--\<unknown\|relume-variable-neutral-shade-7\>);
}

.background-image-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
}

.background-image-wrapper.grid-cta-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.background-image-wrapper.blog-hero {
  overflow: hidden;
}

.background-image-wrapper.survey-authoring-bg {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.background-image-wrapper.footer-cta-background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}

.z-index-1 {
  position: relative;
  z-index: 1;
}

.background-image-wrapper.demo-success {
  overflow: hidden;
  margin-right: 56px;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
}

@media screen and (max-width: 991px) {
  .background-image-wrapper.demo-success {
    margin-right: 0px;
  }
}

.background-image-wrapper.overflow-clip {
  overflow: clip;
}

.background-image-wrapper.skipper {
  left: -5%;
  top: -5%;
  right: -5%;
  bottom: -5%;

  overflow: clip;

  border-radius: 3rem;
}

@media screen and (max-width: 767px) {
  .background-image-wrapper.skipper {
    left: -6%;
    top: -4%;
    right: -6%;
    bottom: -4%;
    border-radius: 0rem;
  }
}

.image-overlay-layer {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  padding: 8rem 1.5rem 1.25rem;

  opacity: 0.76;
}

.image-overlay-layer.starfish {
  background-color: var(--starfish-e17fbf14);
}

.image-overlay-layer.coral_royal-blue {
  background-image: linear-gradient(268deg, var(--royalBlue-3d40e1b7), var(--coral-c9ad5c40));
}

.image-overlay-layer.aqua_royal-blue {
  background-image: linear-gradient(135deg, var(--aquamarine-15603d89), var(--royalBlue-3d40e1b7));
}

.image-overlay-layer.aqua_coral {
  background-image: linear-gradient(135deg, var(--aquamarine-15603d89), var(--coral-c9ad5c40));
}

.image-overlay-layer.deep-ocean_coral {
  background-image: linear-gradient(135deg, var(--deepOcean-24b07762), var(--coral-c9ad5c40));
}

.image-overlay-layer.aruba_sea-urchin {
  background-image: linear-gradient(135deg, var(--aruba-205afa33), var(--seaUrchin-148ded66));
}

.image-overlay-layer.aruba_sea-urchin.vertical-gradient {
  background-image: linear-gradient(to top, var(--aruba-205afa33), var(--seaUrchin-148ded66));
}

@media screen and (min-width: 1920px) {
  .image-overlay-layer.aruba_sea-urchin.survey-gradient {
    opacity: 0.93;
  }
}

.image-overlay-layer.sea-urchin_deep-ocean {
  background-image: linear-gradient(135deg, var(--seaUrchin-148ded66), var(--deepOcean-24b07762));
}

@media screen and (min-width: 1920px) {
  .image-overlay-layer.sea-urchin_deep-ocean.survey-gradient {
    opacity: 0.93;
  }
}

.image-overlay-layer.starfish_aruba {
  background-image: linear-gradient(135deg, var(--starfish-e17fbf14), var(--aruba-205afa33));
}

.image-overlay-layer.royal-blue_coral {
  background-image: linear-gradient(315deg, var(--coral-c9ad5c40), var(--royalBlue-3d40e1b7));
}

.image-overlay-layer.white-gradient {
  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 100.00%, 0.30) 61%, hsla(0, 0.00%, 100.00%, 1.00) 95%);
  opacity: 1;
}

.image-overlay-layer.coral_deep-ocean {
  background-image: linear-gradient(315deg, var(--deepOcean-24b07762), var(--coral-c9ad5c40));
}

@media screen and (min-width: 1920px) {
  .image-overlay-layer.coral_deep-ocean.survey-gradient {
    opacity: 0.93;
  }
}

.image-overlay-layer.coral_deep-ocean.filter {
  opacity: 0.52;
}

.background-color-gradient_royal-urchin {
  background-color: var(--black-dccb7db6);
  background-image: linear-gradient(135deg, var(--royalBlue-3d40e1b7), var(--coral-c9ad5c40));
}

.image-overlay-layer.aruba_royal-blue {
  background-image: linear-gradient(135deg, var(--aruba-205afa33), var(--royalBlue-3d40e1b7));
}

.image-overlay-layer.resource-tile_overlay {
  background-image: linear-gradient(to bottom, var(--resource-gradient) 30%, hsla(0, 0.00%, 100.00%, 0.00));
  opacity: 0.8;
}

.image-overlay-layer.coral_royal-blue-demo {
  background-image: linear-gradient(88deg, var(--coral-c9ad5c40) 5%, hsla(215.45454545454547, 49.25%, 26.27%, 0.00));
  opacity: 1;
}

.image-overlay-layer.aruba_starfish {
  background-image: linear-gradient(270deg, var(--starfish-e17fbf14), var(--aruba-205afa33));
}

.image-overlay-layer.ai {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  background-image: linear-gradient(90deg, hsla(327.59358288770056, 95.90%, 61.76%, 1.00), var(--deep-ocean));
  opacity: 0.4;
}

.image-overlay-layer.ai.reverse {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: linear-gradient(90deg, var(--deep-ocean), hsla(327.59358288770056, 95.90%, 61.76%, 1.00));
  opacity: 0.6;
}

.image-overlay-layer.ai.skipper {
  background-image: linear-gradient(90deg, hsla(327.59358288770056, 95.90%, 61.76%, 1.00), var(--aruba));
  opacity: 0.85;
}

.image-overlay-layer.skipper-page {
  background-image: linear-gradient(135deg, var(--pink), var(--deep-ocean));
  opacity: 1;
}

.image-overlay-layer.skipper {
  background-image: linear-gradient(133deg, var(--pink), var(--deep-ocean));
  opacity: 0.41;
  mix-blend-mode: overlay;
}

.image-overlay-layer.skipper-alt {
  background-image: linear-gradient(90deg, var(--deep-ocean), var(--pink));
  mix-blend-mode: hard-light;
}

.image-overlay-layer.coral_royal-blue {
  background-image: linear-gradient(268deg, #223d64, #8c3375);
}

.image-overlay-layer.conversation-ai {
  background-image: radial-gradient(circle closest-side at 50% 50%, var(--sea-urchin), var(--deep-ocean));
  opacity: 0.45;
}

.image-overlay-layer.full-service {
  background-image: linear-gradient(135deg, var(--aquamarine), var(--deep-ocean));
  opacity: 1;
}

.image-overlay-layer.full-service-cta {
  background-image: linear-gradient(135deg, var(--pink), var(--deep-ocean));
  opacity: 0.45;
}

@media screen and (min-width: 1920px) {
  .image-overlay-layer.full-service-cta {
    background-image: linear-gradient(135deg, var(--pink), var(--deep-ocean));
    opacity: 0.4;
  }
}

.image-overlay-layer.ecommerce {
  background-image: radial-gradient(circle closest-corner at 50% 50%, var(--sea-urchin), var(--transparent));
  opacity: 0.74;
}

.image-overlay-layer.ecom-page {
  opacity: 100;
}

.header_background-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;

  height: 100%;
  min-width: 100%;

  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .header_background-image {
    height: 100%;
  }
}

.header_background-image.home-page {
  top: -20%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
    display: none;
  }
}

.header_background-image.justify-right {
  object-position: 100% 50%;
}

@media screen and (max-width: 479px) {
  .header_background-image.justify-right {
    object-position: 50% 50%;
  }
}

.header_background-image.justify-left {
  object-position: 0% 50%;
}

@media screen and (max-width: 479px) {
  .header_background-image.justify-left {
    object-position: 100% 50%;
  }
}

.show-mobile-landscape {
  display: none;
}

@media screen and (max-width: 767px) {
  .show-mobile-landscape {
    display: block;
  }
}

#w-node-_12e79342-6a7f-512a-976d-2f015a827082-5a82707e {
  grid-column-end: 2;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 1;
}
#w-node-_12e79342-6a7f-512a-976d-2f015a827091-5a82707e {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#w-node-_12e79342-6a7f-512a-976d-2f015a827095-5a82707e {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}
#w-node-_12e79342-6a7f-512a-976d-2f015a8270a4-5a82707e {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}