@media screen and (max-width: 991px) {
  .section_text-left-basic {
    overflow: hidden;
  }
}

.page-padding {
  padding-right: 5%;
  padding-left: 5%;
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.page-padding.pt-0 {
  margin-top: 0px;
}

.padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.padding-bottom {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.padding-large {
  padding: 3rem;
}

@media screen and (max-width: 991px) {
  .padding-large {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-large {
    padding: 2rem;
  }
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.container-large.height-100 {
  height: 100%;
}

.padding-vertical {
  padding-right: 0rem;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.padding-vertical.padding-0 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-0 {
  padding: 0rem;
}

.padding-vertical.padding-xxhuge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxhuge {
  padding: 10rem;
}

@media screen and (max-width: 991px) {
  .padding-xxhuge {
    padding: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xxhuge {
    padding: 5rem;
  }
}

.padding-vertical.padding-large {
  padding-right: 0rem;
  padding-left: 0rem;
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

.padding-vertical.padding-custom3 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-medium {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-medium {
  padding: 2rem;
}

@media screen and (max-width: 767px) {
  .padding-medium {
    padding: 1.5rem;
  }
}

.padding-vertical.padding-tiny {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-tiny {
  padding: 0.25rem;
}

.padding-vertical.padding-xxlarge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxlarge {
  padding: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-xxlarge {
    padding: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xxlarge {
    padding: 3rem;
  }
}

.padding-vertical.padding-custom1 {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-xsmall {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xsmall {
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  .padding-xsmall {
    padding: 0.75rem;
  }
}

.padding-vertical.padding-xhuge {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xhuge {
  padding: 7rem;
}

@media screen and (max-width: 991px) {
  .padding-xhuge {
    padding: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xhuge {
    padding: 4rem;
  }
}

.padding-vertical.padding-xlarge {
  padding-top: 2rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xlarge {
  padding: 4rem;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xlarge {
    padding: 2.5rem;
  }
}

.padding-vertical.padding-custom2 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-vertical.padding-xxsmall {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxsmall {
  padding: 0.5rem;
}

.padding-vertical.padding-huge {
  padding: 6rem 0rem;
}

.padding-huge {
  padding: 6rem;
}

@media screen and (max-width: 991px) {
  .padding-huge {
    padding: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-huge {
    padding: 3.5rem;
  }
}

.padding-vertical.padding-small {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-small {
  padding: 1.5rem;
}

@media screen and (max-width: 767px) {
  .padding-small {
    padding: 1.25rem;
  }
}

.padding-vertical.padding-xhuge {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padding-vertical.padding-xxhuge-s {
  padding: 7rem 0rem 3rem;
}

.layout_component {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .layout_component {
    display: flex;
    min-height: auto;
    flex-direction: column;
    grid-auto-flow: row;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .layout_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .layout_component {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 991px) {
  .layout_component.flip-content-order {
    flex-direction: column-reverse;
  }
}

.layout_content {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 991px) {
  .layout_content {
    overflow: hidden;
  }
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-small {
  margin: 1.5rem;
}

@media screen and (max-width: 767px) {
  .margin-small {
    margin: 1.25rem;
  }
}

.hidden {
  display: none;
}

.margin-xsmall {
  margin: 1rem;
}

@media screen and (max-width: 767px) {
  .margin-xsmall {
    margin: 0.75rem;
  }
}

@media screen and (max-width: 991px) {
  .hide-tablet {
    display: none;
  }
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 2rem;
  }
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxlarge {
  margin: 5rem;
}

@media screen and (max-width: 991px) {
  .margin-xxlarge {
    margin: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxlarge {
    margin: 3rem;
  }
}

.margin-bottom.margin-medium {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-custom3 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-custom1 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-tiny {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-tiny {
  margin: 0.25rem;
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-large {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-0 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-0 {
  margin: 0rem;
}

.margin-bottom.margin-xlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xlarge {
  margin: 4rem;
}

@media screen and (max-width: 991px) {
  .margin-xlarge {
    margin: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xlarge {
    margin: 2.5rem;
  }
}

.margin-bottom.margin-xhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xhuge {
  margin: 7rem;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }
}

.margin-bottom.margin-xxhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxhuge {
  margin: 10rem;
}

@media screen and (max-width: 991px) {
  .margin-xxhuge {
    margin: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxhuge {
    margin: 5rem;
  }
}

.margin-bottom.margin-huge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-huge {
  margin: 6rem;
}

@media screen and (max-width: 991px) {
  .margin-huge {
    margin: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-huge {
    margin: 3.5rem;
  }
}

.margin-bottom.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxsmall {
  margin: 0.5rem;
}

.margin-bottom.margin-custom2 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.heading-secondary {
  font-size: 2.7rem;
  line-height: 1.2;
}

@media screen and (min-width: 1920px) {
  .heading-secondary {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 991px) {
  .heading-secondary {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 767px) {
  .heading-secondary {
    font-size: 2.25rem;
  }
}

.heading-secondary.innovation-title {
  font-family: 'Merriweather Sans';
  font-weight: 300;
}

.text-size-feature {
  font-size: 2.5rem;
}

.heading-secondary.text-color-white.serif {
  font-family: Merriweather, serif;
  font-weight: 300;
  text-transform: none;
}

@media screen and (max-width: 991px) {
  .heading-secondary.text-color-white.industry {
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  .heading-secondary.text-color-white.demo-form {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .heading-secondary.text-color-white.demo-form {
    font-size: 2rem;
  }
}

.demo-form {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.text-align-left {
  text-align: left;
}

.heading-secondary.insights-content {
  font-size: 2.2rem;
}

@media screen and (max-width: 479px) {
  .heading-secondary.pricing-title {
    font-size: 2rem;
  }
}

.text-rich-text h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.text-rich-text h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}

.text-rich-text h5 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  border-left-style: none;
  border-left-color: var(--royalBlue-3d40e1b7);

  color: var(--aruba-205afa33);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.text-rich-text ul {
  color: var(--grey-83e97de9);
}

.text-rich-text li {
  color: var(--aruba-205afa33);
}

@media screen and (max-width: 767px) {
  .text-rich-text figure {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

.text-rich-text a {
  text-decoration: underline;
}

.text-rich-text figcaption {
  margin-top: 0.5rem;
  padding-left: 0.5rem;

  border-left: 2px solid black;

  opacity: 0.8;

  font-size: 0.875rem;
  text-align: left;
}

.text-rich-text.list-parent {
  width: 50%;
}

@media screen and (min-width: 1920px) {
  .text-rich-text.list-parent {
    flex: 1;
  }
}

.text-rich-text strong {
  color: var(--royal-blue);
}

.text-rich-text.columns-2 {
  column-count: 2;
}

.max-width-30ch {
  max-width: 30ch;
}

.max-width-75 {
  width: 100%;
  max-width: 75rem;
}

.max-width-55 {
  width: 100%;
  max-width: 55rem;
}

.margin-top {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }
}

.margin-top.margin-custom1 {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-huge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-small {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-tiny {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-custom3 {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-medium {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xxsmall {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xxhuge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-custom2 {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xsmall {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-large {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xxlarge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xlarge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-0 {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-xhuge {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.subhead-button-margin {
  margin-top: 10px;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .button-row {
    justify-content: center;
    grid-column-gap: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .button-row {
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .button-row {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.button-row.is-button-row-center {
  padding-top: 0px;
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 479px) {
  .button-row.is-button-row-center {
    flex-wrap: wrap;
  }
}

.button-row.is-button-row-center.mt-auto {
  margin-top: auto;
}

@media screen and (max-width: 479px) {
  .button-row.vertical {
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .button-row.is-not-center {
    justify-content: flex-start;
  }
}

.button-wrapper {
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .button-wrapper {
    margin-right: 0rem;
  }
}

.button-wrapper.is-button-wrapper-center {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.button-wrapper.is-button-wrapper-center.relative--up {
  position: relative;
  z-index: 8;
}

.button-wrapper.is-button-wrapper-center.margin-0 {
  margin-top: 0rem;
}

.button {
  padding: 0.5rem 1.25rem;

  border: 1px none var(--black-dccb7db6);
  border-radius: 1.5rem;

  background-color: var(--deepOcean-24b07762);

  transition: all 250ms ease;

  font-family: Montserrat, sans-serif;
  color: var(--white-1766b841);
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--royalBlue-3d40e1b7);
  color: var(--aquamarine-15603d89);
}

@media screen and (max-width: 991px) {
  .button {
    align-self: center;
  }
}

.button.is-alternate {
  border-style: solid;
  border-color: var(--white-1766b841);

  background-color: var(--white-1766b841);

  color: var(--deepOcean-24b07762);
  font-weight: 600;
  text-align: center;
}

.button.is-alternate:hover {
  border-color: var(--deepOcean-24b07762);
  background-color: var(--deepOcean-24b07762);
  color: var(--white-1766b841);
}

.button.is-alternate.is_nav-button {
  padding-right: 0.85rem;
  padding-left: 0.85rem;
  font-size: 0.8rem;
}

.button.is-alternate.no-cursor {
  pointer-events: none;
}

.button.is-button-small {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.button.button-secondary {
  border-color: var(--white);
  background-color: var(--white-1766b841);
  color: var(--deepOcean-24b07762);
}

.button.button-secondary:hover {
  background-color: var(--deepOcean-24b07762);
  color: var(--white-1766b841);
}

.button-secondary {
  padding: 0.5rem 1.25rem;

  border: 1px solid var(--white-1766b841);
  border-radius: 1.5rem;

  background-color: hsla(0, 0.00%, 100.00%, 0.00);

  transition: all 250ms ease;

  font-family: Montserrat, sans-serif;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.button-secondary:hover {
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
  color: var(--deepOcean-24b07762);
}

.button.button-secondary.no-stroke {
  border-style: none;
}

@media screen and (max-width: 479px) {
  .button.button-secondary.no-stroke {
    font-size: 0.7rem;
  }
}

.button.button-secondary.home-rive-links {
  margin-top: 1.5rem;
}

@media screen and (max-width: 767px) {
  .button.button-secondary.home-rive-links {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .button.button-secondary.home-rive-links {
    margin-top: 0.75rem;
  }
}

.button.button-secondary.home-rive-links.no-border {
  border-style: none;
}

.button.lightbox-link {
  display: flex;
}

@media screen and (max-width: 479px) {
  .button.mobile-price-button {
    font-size: 0.6rem;
  }
}

.button.skipper {
  background-image: linear-gradient(90deg, var(--pink), var(--starfish));
}

.button.is-link {
  padding: 0.25rem 0rem;

  border-style: none;

  background-color: var(--\<unknown\|relume-variable-transparent\>);

  color: var(--\<unknown\|relume-variable-neutral-shade-7\>);
  line-height: 1;
  text-decoration: none;
}

.button.is-link.is-icon {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.button.is-secondary {
  background-color: var(--\<unknown\|relume-variable-transparent\>);
  color: var(--\<unknown\|relume-variable-neutral-shade-7\>);
}

.layout_image-wrapper {
  position: relative;
}

.layout_image-wrapper.align-right-edge {
  display: flex;
  justify-content: flex-end;
}

.layout_image-wrapper.clip-height {
  display: flex;
  overflow: hidden;
  height: 40rem;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .layout_image-wrapper.clip-height {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .layout_image-wrapper.clip-height {
    height: 20rem;
    object-fit: contain;
  }
}

.layout_image-wrapper.scale-down {
  padding-right: 75px;
  padding-left: 75px;
}

@media screen and (max-width: 479px) {
  .layout_image-wrapper.scale-down {
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media screen and (max-width: 991px) {
  .layout_image-wrapper.clip-overflow {
    overflow: hidden;
  }
}

.layout_image-wrapper.is-svg {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}

@media screen and (min-width: 1920px) {
  .layout_image-wrapper.is-svg.ratio-auto {
    aspect-ratio: auto;
  }
}